@use "sass:map";
@use './abstracts/index' as *;

.apartment {
  &__layout {
     grid-template-areas:
    "apartment__specification"
    "apartment__info";
    @include respond(lg) {
      grid-template-areas:
        "apartment__specification apartment__info apartment__info";
    }
  }
  &__specification {
    grid-area: apartment__specification;
    
    align-items: center;
    gap: 1rem;

    margin: 0;
   

    &__container {
      margin: 0;
    }

    &-label-text {
      margin: 0;
    }

    &-value {
      margin: 0;
      text-align: right;
    }
  }
  &__info {
    grid-area: apartment__info;
 }
}