@use "sass:map";
@use './abstracts/index' as *;

.apartment {
 
  &__title {
    text-transform: uppercase;
    width: fit-content;
    
  }
  &__content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &__specification {
    align-items: center;
    &-label-text {
      text-align: start;
      padding-bottom: 0.5rem;
    }
    &-value {
      justify-self: end;
      
    }
    
    }
  }
