@use "sass:map";
@use './abstracts/index' as *;

.header {
  position: relative;
  z-index: 2000;

  display: flex;
  align-items: center;

  height: 80px;

  margin: auto;
  padding: 0 40px;

  color: var(--color-white);
  font-family: var(--font-header-family);

  background-color: var(--color-black);
  overflow: visible;

  &__mobile {
    position: absolute;
    inset: 0;
    z-index: 2000;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;

    background-color: var(--color-white);

    @include respond(md) {
      display: none;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: auto;

  font-size: 12px;
  line-height: 2.09em;
  letter-spacing: 0.3em;
  font-weight: 500;

  pointer-events: none;
  transform: translateX(100%);

  @include respond(lg) {
    position: relative;

    width: 100%;
    height: auto;

    pointer-events: auto;

    transform: none !important;
  }
}

.burger-menu {
  @include flexAbsoluteCenter;

  padding: 8px;

  border: none;
 
  cursor: pointer;

  svg {
    color: var(--color-lightGrey);
  }
}

.menu {
  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 2rem 0;

  color: var(--color-black);
  background-color: var(--color-white);
  overflow: visible;

  @include respond(md) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    flex-direction: row;

    height: auto;
    
    padding-top: 0;

    color: var(--color-white);
    background-color: var(--color-black);
  }

  & > * {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include respond(md) {
      justify-content: center;
    }
  }

  &__item {
    position: relative;

    width: 100%;

    padding: 9px min(0.5rem, 2vw);

    overflow: visible;

    text-transform: uppercase;

    @include respond(md) {
      text-transform: none;
    }

    &--find {
      position: relative;

      @include respond(md) {
        border: 1px solid var(--color-white);

        &::after {
          content: "";

          position: absolute;
          inset: -5px;

          padding: 1px;

          border-radius: inherit;

          background: linear-gradient(
            90deg,
            var(--color-white) 0%,
            var(--color-orangeBrown) 45%,
            var(--color-white) 50%,
            var(--color-white) 100%
          );

          background-size: 300% 100%;
          background-position: 100% 0;

          -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;

          mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          mask-composite: exclude;

          pointer-events: none;
        }

        &:hover::after {
          animation: gradient-move 2s linear;
        }
      }

      .menu__link {
        position: relative;
        z-index: 2;
      }
    }
  }
}

@keyframes gradient-move {
  to {
    background-position: -200% 0;
  }
}

.menu__link {
  all: unset;

  position: relative;

  line-height: 26px;
  font-weight: 500;

  background-color: transparent;
  border-radius: 15px;

  cursor: pointer;
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &--contact-form {
    
    @include respond(md) {
      font-size: var(--font-size-base);
      border-radius: 15px;
      background-color: var(--color-orangeBrown);
    }
  }
}
